*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}


.mylogo{
    width: 75px;
}

.myhome{
    padding-right: 30px!important;
    
}
.myabout{
    padding-right: 30px!important;
}
.mycontact{
    padding-right: 30px!important;
}
.mybutton{
    background-color: white;
    color: blue;
    border: 0px;
    padding: 15px 40px;
}
.mybutton2{
    border-radius: 20px;
    padding: 15px 30px;

}
.myfooter{
    background-color: black;
    padding: 15px 20px;
    color: aliceblue;

}
.mypackage3{
    background-color: rgb(52, 52, 186);
    border-radius: 30px;
    color: white;
    box-shadow: 10px 10px 5px rgb(157, 171, 175);

}
.shadow1{
    box-shadow: 10px 10px 5px rgb(157, 171, 175);
    
}